:root {
  --primary: #058888;
  --bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: black;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #3df3c6;
  background: none;
  border-bottom: 1px solid rgb(40, 81, 72);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #070707;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #070707;
  margin: 0 0.5rem;
}

.navbar .navbar-extra .btnLogin-pop {
  width: 100px;
  height: 30px;
  background: #f5a6a6;
  border: 2px solid black;
  outline: none;
  margin-top: 3px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar .navbar-extra .btnLogin-pop:hover {
  background: #ddd;
  color: black;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

.product {
  float: right;
  overflow: hidden;
}
.product .prdct {
  color: #070707;
  display: inline-block;
  background-color: inherit;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.product .prdct:hover {
  color: var(--primary);
}

.product .prdct::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.product .prdct:hover::after {
  transform: scaleX(0.5);
}

.product-content {
  display: none;
  position: absolute;
  background-color: #fd9292;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.product-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.product-content a:hover {
  background-color: #ddd;
}

.product:hover .product-content {
  display: block;
}

#hamburger-menu {
  display: inline-block;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: black;
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: black;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(images/slider-desktop-1699858535.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

/* .hero::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 30%;
      bottom: 0;
      background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
    } */

/* About Section */
.about,
.gallery,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.gallery h2,
.contact h2,
.abuabu h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span {
  color: var(--primary);
}

.about .content h3 span {
  color: var(--primary);
  font-style: italic;
}
.about .content p {
  text-align: justify;
}

.gallery h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 90%;
  height: 60%;
  border-radius: 10px;
}

.about .row .content {
  flex: 1 1 65rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Contact Section */
.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  padding: 4rem 5% 0.4rem;
  margin-bottom: 1rem;
}

.contact .content p {
  text-align: center;
  max-width: 20rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactinfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactinfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactinfo .box .icon {
  min-width: 60px;
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactinfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}

.container .contactinfo .box .text h3 {
  font-weight: 500;
}

.container .contactform {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.contactform {
  width: 40%;
  padding: 40px;
  background: #3df3c6;
}

.contactform h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactform .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactform .inputbox input,
.contactform .inputbox textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactform .inputbox span {
  position: absolute;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  margin: 5px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:focus ~ span {
  color: #070707;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

/* Blog */
section.abuabu {
  background-color: #ebe6e6;
}

.abuabu {
  padding: 5rem 7% 5rem;
}

.abuabu .layar-dalam p {
  text-align: center;
  max-width: 20rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6rem;
}

.text h4 {
  text-align: center;
  font-size: 13px;
  padding: 5px;
}

.blog {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.blog .area {
  width: 47%;
  box-shadow: 0px -10px 30px #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog div.area div {
  width: 50%;
}

.blog .area .gambar {
  border-radius: 5px 0px 0px 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.blog .area .text article {
  padding: 5px;
}

.blog .area .text article h4 {
  margin: 0px;
}

.blog .area .text article a {
  color: black;
  text-decoration: none;
  transition: color 0.5s ease;
}

.blog .area .text article a:hover {
  color: var(--primary);
}
/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: black;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Modal Box */
/* Item Detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  animation: animateModal 0.5s;
}

/* Modal Animation */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--primary);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
